
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Me</h1>

<p style="white-space: pre-wrap">
        Hello,
    I am a highschool student who has interest in programming (Especially .NET and .NET Core)

        I made this project for learning SignalR and its basics.
    It may seem like a really amateur and useless chat application,
    but as i said: I made this project for learn SignalR.

        So, the conclusion is that this is not an proffessional chat
    application. However, i am planning to upgrade this project constantly.
    So it might be better when you enter the website after 3 days.

    For now I'm planning to add those below on this project:
    <b>
        - Authentication
        - Authorization
        - Private chat.
        - Groups and in-group chats.
        - Better design.
        - Deleting messages.
        - Storing messages and users in a database.
        - Being able to send images.
        - Replying to a specific message.
    </b>
    and so on..

    <b>
        If you want to check out much proffesional projects that i did, you can check my GitHub account there:
        <a class="btn btn-dark mt-2" href="https://github.com/ismaksu"><i class="fa-brands fa-github"></i>  GitHub - ismaksu</a>
    </b>
</p>